.top-row, .first-row {
    color: white;
    margin: 0;
}

.left {
    font-size: 24px;

}

.top {
    background-color: #1F2937;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.second-row {
    text-align: center;
}

.pictures {
    display: flex;
}

.sign-up {
    background-color: #3882F6;
    color: white;
}