.top-row, .first-row {
    color: white;
    margin: 0;
}

.top {
    background-color: #1F2937;
}

.top-row {
    display: flex;
}



.second-row {
    text-align: center;
}

.pictures {
    display: flex;
}

